* {
  margin: 0;
  padding: 0;
}
.balance {
  width: calc(90% - 10px);
  border: 1px solid green;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.add_note {
  width: 70%;
  border: 1px solid red;
  vertical-align: middle;
}
